$accent = #3c9ff0
$accent-hover = #2a96ef
$accent-dark = #0f9ae4
$text = #222
$text-secondary = #808080
$link = #0088cc
$success = #33b440
$warning = #ee9939
$error = #d75959

$desktop = "(min-width: 992px)"
$tablet = "(max-width 992px)"
$mobile = "(max-width 575px)"
